.checkout-item {

	img {
		width     : auto;
		max-height: 150px;
	}

	.checkout-item-remove {
		font-size : 1.5em;
		outline   : none;
		background: none;
		border    : none;
		width     : 1em;
		height    : 1em;
		cursor    : pointer;

		&:hover {
			color: grey;
		}
	}
}

.checkout-item-quantity {
	display    : flex;
	align-items: center;
	height     : 30px;
	text-align : center;

	.checkout-item-quantity-number {
		width     : 60px;
		text-align: center;
	}

	.checkout-item-quantity-number,
	.checkout-item-quantity-decrement,
	.checkout-item-quantity-increment {
		border     : 1px solid #ccc;
		user-select: none;
		height     : 100%;
		line-height: 30px;
	}

	.checkout-item-quantity-decrement,
	.checkout-item-quantity-increment {
		display    : inline-block;
		width      : 30px;
		background : #f1f1f1;
		color      : #444;
		font-weight: bold;
		cursor     : pointer;

		&:active {
			background: #ddd;
		}
	}

	.checkout-item-quantity-decrement {
		border-right : none;
		border-radius: 4px 0 0 4px;
	}

	.checkout-item-quantity-increment {
		border-left  : none;
		border-radius: 0 4px 4px 0;
	}
}